@{
    ViewData["Title"] = "IFrame";
}

<h1>IFrame</h1>

<p>IFrame based embedding of Power BI report. Code for IFrame is available at Power BI portal.</p>

<iframe
        width="1140" 
        height="541" 
        src="https://app.powerbi.com/reportEmbed?reportId=05b7c2fc-12c8-4c17-9226-8d3401bc8d7a&autoAuth=true&ctid=5fe78ac1-1afe-4009-aa04-a71efb4a5042&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLWItcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" 
        frameborder="0"
        allowFullScreen="false">

</iframe>